package config

import "yellowjacket/pkg/templcomp"

templ (c *Config) form() {
	@templcomp.ToForm(c, templ.URL("/config"), "config")
}

templ (c *Config) formSubmitError(msg string) {
	<strong>Error: { msg }</strong>
}

templ (c *Config) formSubmitSuccess() {
	<p>Config saved</p>
}
